{% extends "base.html" %}
{% load staticfiles %}
{% block title %}personalcenter - welearning{% endblock %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul class="crumbs" style="margin-top:60px" >
                <li><a href="{% url "index" %}">Home</a>></li>
                <li><a href="{% url "users:info" %}">Personal Center</a>></li>
                <li>Personal Info</li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section>
    <div class="wp list personal_list">
        <div class="left">
            <ul>
                <li class="{% if current_page == "info" %}active2{% endif %}"><a href="{% url "users:info" %}">Personal Info</a></li>
                <li class="{% if current_page == "mycourse" %}active2{% endif %}"><a href="{% url "users:mycourse" %}">My Courses</a></li>
                <li class="{% if current_page == 'myfav_org' or current_page == 'myfav_teacher' or current_page == 'myfav_course' %}active2{% endif %}"><a href="{% url "users:myfav_org" %}">My Favorites</a></li>
                <li class="{% if current_page == "message" %}active2{% endif %}">
                    <a href="{% url "users:messages" %}" style="position: relative;">
                        My Messages
                    </a>
                </li>
            </ul>
        </div>
    <div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1 style="font-size: 20px">My Courses</h1>
			</div>
		</div>
		<div class="personal_des permessage">
			<div class="companycenter">
				<div class="group_list brief">
                    {% for user_course in user.usercourse_set.all %}
                    <div class="module1_5 box" style="border: 1px solid #eaeaea;">
                            <a href="{% url "course:detail" user_course.course_id %}">
                                <img width="214" height="190" class="scrollLoading" src="{{ user_course.course.image.url }}"/>
                            </a>
                            <div class="des">
                                <a href="{% url "course:detail" user_course.course_id %}"><h2>{{ user_course.course.name }}</h2></a>
                                <span class="fl"><i class="key">{{ user_course.course.time_duration }}</i>minutes</span>
                                <span class="fr">{{ user_course.course.students }} enrolled</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">{{ user_course.course.org.name }}</span>
                                <span class="star fr  notlogin" data-favid="{{ user_course.course.id }}"></span>
                            </div>
                        </div>
                    {% endfor %}

				</div>
			</div>
		</div>
	</div>
    </div>
    </section>
{% endblock %}
