{% extends "base.html" %}
{% load staticfiles %}
{% block title %}personalcenter - welearning{% endblock %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul class="crumbs" style="margin-top:60px" >
                <li><a href="{% url "index" %}">Home</a>></li>
                <li><a href="{% url "users:info" %}">Personal Center</a>></li>
                <li>Personal Info</li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section>
    <div class="wp list personal_list">
        <div class="left">
            <ul>
                <li class="{% if current_page == "info" %}active2{% endif %}"><a href="{% url "users:info" %}">Personal Info</a></li>
                <li class="{% if current_page == "mycourse" %}active2{% endif %}"><a href="{% url "users:mycourse" %}">My Courses</a></li>
                <li class="{% if current_page == 'myfav_org' or current_page == 'myfav_teacher' or current_page == 'myfav_course' %}active2{% endif %}"><a href="{% url "users:myfav_org" %}">My Favorites</a></li>
                <li class="{% if current_page == "message" %}active2{% endif %}">
                    <a href="{% url "users:messages" %}" style="position: relative;">
                        My Messages
                    </a>
                </li>
            </ul>
        </div>
    <div class="right" >
            <div class="personal_des Releasecont">
                <div class="head">
                    <h1 style="font-size: 20px">My Favorites</h1>
                </div>
            </div>
            <div class="personal_des permessage">
                <div class="head">
                    <ul class="tab_header messagehead">
                        <li class="active"><a href="{% url 'users:myfav_org' %}">Organizations</a> </li>
                        <li><a href="{% url 'users:myfav_teachers' %}">Teachers</a></li>
                        <li><a href="{% url 'users:myfav_course' %}">Courses</a></li>
                    </ul>
                </div>
                <div class="messagelist">
                    {% for org in org_list %}
                    <div class="messages butler_list company company-fav-box">
                        <dl class="des fr">
                            <dt>
                                <a href="{% url 'org:home' org.id %}">
                                    <img width="160" height="90" src="{{ org.image.url }}"/>
                                </a>
                            </dt>
                            <dd>
                                <h1><a href="{% url 'org:home' org.id %}">{{ org.name }}</a></h1>
                                <div class="pic fl" style="width:auto;">
                                {% if org.is_auth %}
                                    <img src="{% static 'images/authentication.svg' %}"/>
                                {% endif %}
                                {% if org.is_gold %}
                                    <img src="{% static 'images/gold.svg' %}"/>
                                {% endif %}
                                </div>
                                <span class="c8 clear">{{ org.address }}</span>
                                <div class="delete jsDeleteFav_org" data-favid="{{ org.id }}"></div>
                            </dd>
                        </dl>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
    $('.jsDeleteFav_org').on('click', function () {
            var _this = $(this),
                favid = _this.attr('data-favid');
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'op:fav' %}",
                data: {
                    fav_type: 2,
                    fav_id: favid,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                async: true,
                success: function (data) {
                    Dml.fun.winReload();
                }
            });
        });
</script>
{% endblock %}
